@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
    .slant{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    }
}

@font-face {
    font-family: "Lato";
    src: url("./assets/Lato-Regular.ttf");
}
@font-face {
    font-family: "Nunito";
    src: url("./assets/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Bajigoor";
    src: url("./assets/Bajigoor-X3P5a.ttf");
}